<?xml version="1.0"?>
<collecteurs>
	<collecteur actif="1">
		<!-- Pour le mode d'envoi : 
				- 1 pour Java RMI
				- 2 pour XML-RPC
				- 3 pour SOAP
		-->
		<mode>3</mode>
		<!--adresse>yeager</adresse-->
		<!--adresse>193.48.123.196</adresse-->
		<!--adresse>193.48.120.161</adresse-->
		<adresse>localhost</adresse>
		<!--port>1099</port-->
		<port>9000</port>
		<nom>Truc de Ouf</nom>
	</collecteur>
</collecteurs>
