/*
 * Stylesheet for Mathieu Mangeot's Thesis 
 *
 * Style sheet for the HTML 4.0 specification
 * $Id$
 *
 *
 * do not write .css at the top of the file
 * do not write font-size : 12 pt; but : 1em or : 100%;
 * do not write div.foo_one but div.foo-one even if _ is in the tag
 *
 * 1em or 2em depends on what you wrote before css
 * use span instead of div
 */
 
/* @media screen {...} */

/* @media print {...} */

@page { 
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em 
}

body {
  margin: 5pt;
  background-color : white;
  color: black;
  text-align: justify;
  font-family: "new century schoolbook";
  font-size: 14pt;

}
 
em	{
	font-style: normal;
	color: #800000;
	}

h1,h2,h3,h4,h5,h6		{ 
	text-align: left;
	font-family: "Helvetica", sans-serif;
	font-weight: bold;
}
h1		{ 
	font-size: 2em;
	margin-top: 0.3em;
	margin-bottom: 0.3em 
}
h1:before {
	content: counter(h1) ". ";
        counter-increment: h1;  /* Add 1 to chapter */
        counter-reset: h2;      /* Set section to 0 */
}
          
h2		{ 
	font-size: 1.6em;
}
h2:before {
	content: counter(h1) "." counter(h2) " ";
        counter-increment: h2;
        counter-reset: h3;      /* Set section to 0 */
}
h3		{ 
	font-size: 1.3em;
}
h3:before {
	content: counter(h1) "." counter(h2) "." counter(h3) " ";
        counter-increment: h3;
}
h4		{ 
	font-size: 1em;
}
h5		{ 
	font-size: 1em;
}
h6		{ 
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
}

p	{
	text-align: left;
}

strong {
	font-style: normal;
	font-weight: bold;
}

a:link		{ color: #990000; }
a:visited 	{ color: #CC9966; }
a:active	{ color: #FF9999; }


ul {list-style-type:none}
	
.navbar	{
	text-align: center;
	}
	
.navbarhead	{
	text-align: center;
	font-family: "Helvetica", sans-serif;
	font-size: 1.6em;
	font-weight: bold;
	}
	
.headline	{
	text-align: center;
	font-family: "Helvetica", sans-serif;
	font-size: 2.4em;
	font-weight: bold;
	}

.simple	{
	text-align: justify;
	text-indent: 1em;
	}
	
.code	{
	font-family: "courier", monospace;
	font-size: 1.2em;
	text-align: justify;
	margin-left: 2em;
	margin-right: 2em;
	}

.figure	{margin-left: 2em;
	margin-right: 2em;
	}

.fra {
	color: #3366FF;
}
.image	{text-align: center;
	}

.legende	{
	font-family: "Helvetica", sans-serif;
	font-size: 1em;
	text-align: center;
	}

.citecode	{
	font-family: "courier";
	font-size: 14pt;
	}

.note	{
	background-color: yellow;
	}

.commentCB	{
	background-color: #00C6FF;  /* bleu */
	}

.commentJPC	{
	background-color: #69FF69;   /* vert */
	}

.brouillon	{
        /*display: block; */
	background-color: #BEBEBE;   /* gris */
	}

.footer	{
	font-size: 0.9em;
	margin-top: 0.8em;
	margin-bottom: 0em;
	}

.actor {
	color: #00C6FF;
}
.separator {
	font-wheight : bold;
	color : #69FF69; 

}
.comment {
	font-style : italic;
	color :  #BEBEBE;
}

.idiom {
	font-style : normal;
}
.example {
	font-style : normal;
}


.name {
	font-weight : bold;
}
.headwords{
	font-style : normal;
}

}
