/*
 * Stylesheet for Papillon Web site 
 *
 * Style sheet for the xhtml Papillon pages
 * $Id: papillon-home.css 1082 2009-11-03 18:28:28Z mangeot $
 * ---------------------------------------------------
 *
 * $Log$
 *
 * ---------------------------------------------------
 * do not write .css at the top of the file
 * do not write font-size : 12 pt; but : 1em or : 100%;
 * do not write div.foo_one but div.foo-one even if _ is in the tag
 *
 * for font size, use pixels px instead of pt or em.
 * 
 * use span instead of div
 */
 
/*--------------------------------------*/
/* Columns */
/*--------------------------------------*/


.menuColumn {
   float: right;
   width: 150px;
   margin-top:0.3em;
}

.mainColumn {
   background: white url(/media/papillon-background-fuzzy-lighter.png) 0 0 no-repeat fixed;
   color: #000;
/*   position: absolute;
   left: 0; 
   width: 100%; */
   margin-right: 160px;
   margin-left: 0.3em;
   margin-top:0.3em;
}


/*-------------------------*/
/* Header part of the page */
/*-------------------------*/

/*-------------------------*/
/* Title of the page */
/*-------------------------*/

#projectTitle {
	text-align: right;
	margin: 0;
	padding: 0em 0.3em 0em 0.3em;
	color: #00c;
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
	font-size: 2.5em;
	font-weight: normal;
	background: white url(/media/papillon-background-fuzzy-lighter.png) 0 0 no-repeat fixed;   
	border-right: 1px solid black;
}

#projectTitle span.projectName {
	font-weight: bold;
	color: #00d;
}

/*-------------------------*/
/* CSS only popup menus    */
/*-------------------------*/

#MenuBar {
	background: white url(/media/papillon-background-fuzzy-lighter.png) 0 0 no-repeat fixed;
	height: 1.4em;
	line-height: 1.2em;
	z-index:10;
	text-align: right;
}

.popupMenu {
	width: auto;
	float: right;
	padding: 0.1em 0em 0.1em 0em;
	cursor: default;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.popupMenu:hover {
   background: #887;
   color:#fff;
}

.popupMenu  a {
   padding: 0em 0.5em 0em 0.5em ;
   text-decoration: none;
}

.popupMenu  a:link {
   color:#00a;
}

.popupMenu  a:visited {
   color:#00a;
}

.popupMenu  a:active {
   color:#00a;
}

.popupMenu  a:hover {
   background: #887;
   color:#fff;
   text-decoration: none;
}

.popupMenu ul {
	display: none;
	position: absolute;
	background: #aa7;
	color: black;
	list-style: none;
	margin: 0em 0 0 0;
   padding: 0;
}

.popupMenu ul li {
   display: block;
   padding: 0.1em 0.5em 0.1em 0.5em ;
   font-size:0.9em;
}

div.popupMenu:hover ul {
    display: block;
    margin: 0;
    padding: 0;

}

div.popupMenu ul li:hover {
   background: #887;
   color: #fff;
}

/*-----------------------------------*/
/* MenuBlock (left) part of the page */
/*-----------------------------------*/

/*.menuVariableName {
    float: right; 
    width: 50px;
    }
    
.menuVariableValue {
    margin-left: 7px;
    float: left; 
    width: 90px;
    }
        
.menuVariableValueWidth {
    width: 100%;
    }

.menuGo {
    width: 50px;
    margin-left:auto; 
    margin-right:auto;
    margin-top: 5px;
    } */
	
.menuBlock {
	background: white url(/media/papillon-background-fuzzy-light.png) 0 0 no-repeat fixed;
    color: #000;
    padding-bottom: 0.2em;
    border: 1px solid black;
    font-size: 13px;
    margin-bottom: .5em;
}

.menuBlock h2.menuTitle {
   background: #aa7;
   color: #fff;
   border: none;
   border-bottom : 1px solid grey;
   width: 100%;
   font-weight: bold;
   font-size: medium;
   text-indent: 0.5em;
   margin-top: 0;
   padding: 0.1em 0;
   font-variant: small-caps;
}

.menuBlock a:link {
    text-decoration: none; 
    color: blue;
}

.menuBlock a:visited {
    text-decoration: none; 
    color: blue;
}

.menuBlock a:active {
    text-decoration: none; 
    color: blue;
}

.menuBlock a:hover {
    text-decoration: none; 
    color: #000070;
}

.menuBlock h2, .menuBlock div, .menuBlock p, .menuBlock ul {
   color: #000;
}

.menuBlock div, .menuBlock p, .menuBlock ul {
   margin-top: 0.2em;
}

.menuBlock li {
   margin-right: 0;
   color: #aa7;
}

.menuBlock p, .menuBlock div {
   text-indent: 0.3em;
}

.menuBlock form {
   margin-top: 0;
   padding-left: 0.2em;
   padding-right: 0.2em;
}

.menuBlock h2.menuTitle a {
   color: #fff;
}

.menuBlock h2.menuTitle a:hover {
   text-decoration: none;
}

/*--------------------------------------*/
/* Main (central) part of the page      */
/*--------------------------------------*/

.mainBlock {
	
}

/* styles for table cells */
.headerRow	{ background: #4682b4; 
                  color: #ffffff; }
.cellRow	{ background: #eeeecc; 
                  color: #000000; }

/* Message administratif aux utilisateurs... */
pre.adminMessage {
    font-size: 1.5em;
    color: #ff0000;
    background: #DFDFDF;
}

/* Message aux utilisateurs... */
pre.userMessage {
    color: #ff0000;
    background: #DFDFDF;
}

/*--------------------------------------*/
/* General */
/*--------------------------------------*/

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

p.standard {
    text-align: justify;
}

.accesskey {text-decoration: underline; }

.copyright {
	font-size: xx-small;
    margin-top: 20px;
	margin-right: 170px;
}

.gray {
	color:  gray;
}
.hidden {
	display: none;
}

.note {
	color:  red;
}



/*<group=GetFirefox>*/

div#firefox {
   float:left;
   background-color: #e0e0e0;
   margin-left: 12px;
   font-size: x-small;
   padding-top: 3px;
   padding-bottom: 3px;
   padding-left: 3px;
   padding-right:3px;
   text-align: left;
   width:300px;
}

div#firefox span {

}

div#firefox a {
   float:left;
   padding-right:5px;
}

div#firefox img {
   border: none;
}

/*</group>*/

